<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Acivity</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
   <!-- <div #map id="map"></div> -->
   <ion-grid >
    <ion-row  text-center class="stepcounter">
      <ion-col>
        <div class="circle">
          <div class="count">0</div>
          <div class="text">
          x:{{x}} y:{{y}} z:{{z}}
          </div>
        </div>
     </ion-col>   
    </ion-row>
    <ion-row  text-center>
      <ion-col>
        <ion-icon ios="ios-man" md="ios-man-outline"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon>
      </ion-col>
      <ion-col>
       <ion-icon ios="ios-flash" md="ios-flash-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row text-center class="activityCount">
      <ion-col>
        <span>{{distanceTravelled || "0.0"}}  </span>
        <p>Km</p>
      </ion-col>
      <ion-col>
        <span>{{currentTimer || "00:00:00"}}</span>
        <p>HH:MM:SS</p>
      </ion-col>
      <ion-col>
        <span>{{caloriesburned || "0"}} </span>
        <p>Kcal</p>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col>
      <div class="relative">
        <button class="button button-icon icon start-stop" (click)="startTimer()">
              {{!flag ? "START" : "STOP"}}
        </button>
        <button class="button button-icon icon resume-pause">
              <ion-icon ios="ios-pause" md="md-pause" *ngIf="flag"></ion-icon>
              <ion-icon name="play" *ngIf="!flag"></ion-icon>
        </button>
      </div>
     
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
