page-list {
	#map{
		height:50%;
	}
	button.button-icon{
		z-index: 1;
		/*position: absolute;*/
		height: 70px;
		width: 70px;
		border-radius: 50%;
		padding: 0;
		border: none;
		background-color: red;
		color: white;
		transition: all linear 220ms;
		transform: translate3d(0,0,0);
		backface-visibility: hidden;
		
  }
  ion-icon{
  	font-size: 2.2em;
  }
  ion-row{
  	padding-top: 15px !important;
  }
  .activityCount{
  	font-size: 1.7em;
  }
  .activityCount span{
	color: brown;
  }
  .activityCount p{
  	font-size: 0.6em;
  }

  .scroll-content{
  	overflow-y: hidden !important;
  }

}
